.calendar-28 {
  @for $i from 1 through 28 {
    div:nth-child(#{$i}) {
      @include day_property;
    }
  }
}

.calendar-29 {
  @for $i from 1 through 29 {
    div:nth-child(#{$i}) {
      @include day_property;
    }
  }
}

.calendar-30 {
  @for $i from 1 through 30 {
    div:nth-child(#{$i}) {
      @include day_property;
    }
  }
}

.calendar-31 {
  @for $i from 1 through 31 {
    div:nth-child(#{$i}) {
      @include day_property;
    }
  }
}
