@for $i from 1 through 28 {
  .calendar-28 div:nth-child(#{$i})::after {
    content: "#{$i}";
    @include position;
  }
}

@for $i from 1 through 29 {
  .calendar-29 div:nth-child(#{$i})::after {
    content: "#{$i}";
    @include position;
  }
}

@for $i from 1 through 30 {
  .calendar-30 div:nth-child(#{$i})::after {
    content: "#{$i}";
    @include position;
  }
}

@for $i from 1 through 31 {
  .calendar-31 div:nth-child(#{$i})::after {
    content: "#{$i}";
    @include position;
  }
}

@each $day, $index, $marginLeft in $days {
  .calendar-#{$day} {
    div:nth-child(1) {
      margin-left: #{$marginLeft + $index};
    }
  }
}
