@each $day-month, $days-in-month in $month-length {
  @for $i from 1 through $days-in-month {
    .#{$day-month} div:nth-child(#{$i})::after {
      content: "#{$i}";
      @include position;
    }
  }
}

@each $day, $index, $marginLeft in $days {
  .calendar-#{$day} {
    div:nth-child(1) {
      margin-left: #{$marginLeft + $index};
    }
  }
}
