@import "global";
@import "variables";
@import "mixins";
@import "calendar_month";
@import "calendar_day";
@import "animation";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
}

@mixin day_property {
  width: 100px;
  height: 100px;
  background: #eee;
  border: 1px solid black;
  flex-direction: row;
  margin: 1px;
  gap: 1px;
}

@mixin position {
  display: flex;
  line-height: 100px;
  justify-content: center;
}
