@mixin day_property {
  width: 100px;
  height: 100px;
  background: #eee;
  border: 1px solid black;
  flex-direction: row;
  margin: 1px;
  gap: 1px;
}

@mixin position {
  display: flex;
  line-height: 100px;
  justify-content: center;
}
