@mixin day_property {
  width: 100px;
  height: 100px;
  margin: 1px;

  background: #eee;
  border: 1px solid black;
}

@mixin position {
  display: flex;
  justify-content: center;
  line-height: 100px;
}
